<a-steps :current="new_form_data.step" size="small">
  <a-step>
    <template slot="title">
      选择订阅/监控
    </template>
  </a-step>

  <a-step>
    <template slot="title">
      填写信息
    </template>
  </a-step>

  <a-step>
    <template slot="title">
      保存
    </template>
  </a-step>
</a-steps>

<template v-if="new_form_data.step == 0">
  <ul class="add-dialog" >
    <li class="add-dialog-type-card" v-bind:class="{ active: (new_form_data.type == 1) }" v-on:click="next_step(); new_form_data.type =1">
      添加RSS订阅
    </li>

    <li class="add-dialog-type-card" v-bind:class="{ active: (new_form_data.type == 2) }" v-on:click="next_step(); new_form_data.type =2">
      添加监控店铺
    </li>
  </ul>
</template>

<template v-else-if="new_form_data.step == 1">
  <template v-if="new_form_data.type == 1">
    <%= import_partial "home/new/content/rss_form" %>
  </template>

  <template v-if="new_form_data.type == 2">
    <%= import_partial "home/new/content/spy_shop_form" %>
  </template>
</template>