<script>
    <% present(current_user.probe_settings.first, current_user) do |probe_setting_persenter| %>
    var all_rss_list = <%= raw probe_setting_persenter.rss %>
    <% end %>

    var running_rss_jobs_count = '<%= @running_rss_jobs_count %>'
</script>

<%= javascript_pack_tag 'rss' %>

<div id="tianluo">
  <app></app>
</div>
