<script>
    <% present('RssPresenter', user_id: current_user.id) do |rss| %>
    var all_rss_list = <%= raw(rss.rss.to_json) %>
    <% end %>

    var running_rss_jobs_count = '<%= @running_rss_jobs_count %>'
</script>

<%= javascript_pack_tag 'rss' %>

<div id="tianluo">
  <app></app>
</div>
