<% content_for :feed_unread_count do %>
  (<%= @unread_count %>)
<% end %>

<div id="app">
  <add-dialog v-bind:dialog_visible="dialog_visible" v-on:close-dialog="dialog_visible = false"></add-dialog>

  <%= render partial: 'vue_components/home.web' %>
</div>

<%= render partial: 'vue_components/home.web.vue.js' %>

<% f = File.new("#{Rails.root}/vendor/weread.css") %>
<% content = f.read %>
<%= raw(content) %>