<div id="app">
  <a-row>
    <a-col :md="4"></a-col>

    <a-col :sm="24" :md="16">
      <!--二级导航-->
      <a-tabs id="nav-tab" default-active-key="3">
        <a-tab-pane key="1">
          <span slot="tab">
            <i class="fa fa-newspaper-o"></i>&nbsp;最新动态
          </span>
          <a-empty>
            <a-button type="primary">
              去订阅
            </a-button>
          </a-empty>
          <!--        <new-feeds v-if="current[0] == 'new_feeds'"></new-feeds>-->
        </a-tab-pane>

        <a-tab-pane key="2">
          <span slot="tab">
            <i class="fa fa-rss"></i>&nbsp;RSS
          </span>
          <rss-list></rss-list>
        </a-tab-pane>

        <a-tab-pane key="3">
          <span slot="tab">
            <i class="fa fa-shopping-cart"></i>&nbsp;店铺监控
          </span>
          <shop-list></shop-list>
        </a-tab-pane>

        <a-button type="primary" slot="tabBarExtraContent" @click="show_add_dialog">
          <i class="fa fa-plus"></i>&nbsp;添加监控/订阅
        </a-button>
      </a-tabs>
      <add-dialog v-bind:dialog_visible="dialog_visible" v-on:close-dialog="dialog_visible = false"></add-dialog>

    </a-col>

    <a-col :md="4"></a-col>
  </a-row>

  <a-back-top visibilityHeight="100px"/>

</div>

<script>
    <%= render "home/rss/rss_list.vue.js" %>
    <%= render "home/shop_spy/shop_list.vue.js" %>
    <%= render "home/new/add_dialog.vue.js" %>

    var app = new Vue({
        el: '#app',
        data: {
            dialog_visible: false,
        },
        methods: {
            show_add_dialog: function () {
                // 需要先置为 false，再设置为 true 才能再次显示添加的对话框
                this.dialog_visible = false;
                this.dialog_visible = true;
            },
        },
        mounted: function () {
            window.addEventListener('scroll', this.handleScroll);
        }
    })
</script>
