<div class="article-detail">
    <div style="">
        <div>
            <div class="article-toolbar__drag-area"></div>
            <div class="flexbox article-toolbar" style="justify-content: space-between; align-items: center; flex-wrap: nowrap;">
                <div class="flexbox article-account__box" style="justify-content: flex-start; align-items: center; flex-wrap: nowrap;">
                    <i class="iconfont icon-left article-back"></i> <span><div role="tooltip" id="el-popover-6989" aria-hidden="true" class="el-popover el-popper account-popover" tabindex="0" style="width: 400px; display: none;"><!----><div class="flexbox" style="justify-content: space-between; align-items: flex-start; flex-wrap: nowrap;"><!----> <div class="account-popover__main" style="margin-left: 0px;"><div class="account-popover__top"><div><span class="account-popover__title">
                    Ruby China
                </span> <!----></div> <div class="account-popover__desc">
                    Ruby China社区最新发帖.
                </div> <div class="info-container"><div class="info-item"><span class="info-item__label">
                    site url:
                </span> <span class="info-item__value flexbox"><a href="https://ruby-china.org/?utm_source=wereader&amp;utm_medium=social" target="_blank">https://ruby-china.org/</a> <a href="https://ruby-china.org/?utm_source=wereader&amp;utm_medium=social" target="_blank"><i class="iconfont icon-send" style="padding-left: 10px;"></i></a></span></div> <div class="info-item"><span class="info-item__label">
                    xml url:
                </span> <div class="info-item__value flexbox"><span class="text--ellipsis">
                    https://ruby-china.org/topics/feed
                </span> <span class="copy"><i class="iconfont icon-copy"></i></span></div></div></div></div> <!----></div></div> </div><img src="https://l.ruby-china.com/photo/2016/c309db0b49cab85a32f756541ea0e2b0.png" class="avatar el-popover__reference" aria-describedby="el-popover-6989" tabindex="0" alt="Ruby China"></span>
                    <span style="display: none;"></span> <span style="display: none;"></span>
                    <span style="display: none;"></span> <span style="display: none;"></span>
                    <span class="article-account__title text--ellipsis">
                        Ruby China
                    </span></div>
                <div class="article-actions">
                    <span><i title="标记" class="iconfont icon-highlight el-popover__reference" aria-describedby="el-popover-250" tabindex="0"></i></span>
                    <i title="收藏" class="iconfont icon-collection"></i>
                    <span><i title="添加标签" class="iconfont icon-label el-popover__reference" aria-describedby="el-popover-4023" tabindex="0"></i></span>
                    <a title="访问原始文章[V (visit)]" id="ori_link" href="https://ruby-china.org/topics/41220?utm_source=wereader&amp;utm_medium=social" target="_blank" class="js-external-link article-link"><i class="iconfont icon-send"></i></a>
                    <i title="全屏阅读[F (fullscreen)]" class="iconfont icon-screenfull"></i>
                    <span><i title="手机端查看" class="iconfont icon-qr el-popover__reference" aria-describedby="el-popover-6140" tabindex="0"></i></span>
                    <div class="el-dropdown">
                        <i class="iconfont icon-more el-dropdown-selfdefine " aria-haspopup="list" aria-controls="dropdown-menu-1877" role="button" tabindex="0"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-wrapper">
            <div id="article-content" class="article-content"><!----> <h2 class="article-title">
                转： 假如特朗普是一门编程语言
            </h2>
                <div class="article-meta"><span><div role="tooltip" id="el-popover-4775" aria-hidden="true" class="el-popover el-popper" tabindex="0" style="display: none;"><!----><div><div class="account-popover__desc">
                    全部文章数: --
                </div> <div class="account-popover__desc">
                    今日文章数: --
                </div></div> </div><span class="author el-popover__reference" aria-describedby="el-popover-4775" tabindex="0">chenge</span></span> <!---->
                    <time datetime="Fri Apr 30 2021 17:00:01 GMT+0800 (中国标准时间)" class="el-tooltip item" aria-describedby="el-tooltip-6055" tabindex="0">3
                        天前
                    </time> <!----></div> <!---->
                <div id="article-body" class="article-body locale-chinese"><p>好玩。</p>

                    <p>
                        <a href="https://mp.weixin.qq.com/s?__biz=MzU2NTYyOTQ4OQ==&amp;mid=2247484714&amp;idx=1&amp;sn=70f1c19adbf1c873f5493ad58335f210&amp;chksm=fcb98274cbce0b626a090531afd08dee357cd5b9568865cd20e0fb7185b3656b0f59ec226d2c&amp;mpshare=1&amp;scene=1&amp;srcid=0430llCPqZsnTpzGVCFHWXhD&amp;sharer_sharetime=1619772951113&amp;sharer_shareid=6b44d5d0b3398357f670ff9ad9685baf&amp;exportkey=AR9xnv6mRE3tGfP86%2FkzSzw%3D&amp;pass_ticket=OIkb1VU4DFHMyzBRkwJVmyQ72gmo49wrOsdTHRf8fWWWRarJp5Tu2yFlmR056vMW&amp;wx_header=0#rd" rel="nofollow" target="_blank" title="" class="js-external-link">链接</a>
                    </p>
                    <div id="img-tool">下载图片 收藏图片</div>
                </div>
            </div>
        </div>
        <div class="prev page"><i class="iconfont icon-right"></i></div>
        <div class="next page"><i class="iconfont icon-right"></i></div>
    </div> <!---->
    <div class="center" style="display: none;">
        <div class="nothing">
            NOTHING IS IMPOSSIBLE
        </div>
    </div>
</div>
