<a-row>
  <a-col :md="4"></a-col>

  <a-col :sm="24" :md="16">
    <!--二级导航-->
    <a-tabs id="nav-tab" default-active-key="3">
      <a-tab-pane key="1">
          <span slot="tab">
            <i class="fa fa-newspaper-o"></i>&nbsp;最新动态
          </span>
        <a-empty>
          <a-button type="primary">
            去订阅
          </a-button>
        </a-empty>
        <!--        <new-feeds v-if="current[0] == 'new_feeds'"></new-feeds>-->
      </a-tab-pane>

      <a-tab-pane key="2">
          <span slot="tab">
            <i class="fa fa-rss"></i>&nbsp;RSS
            <a-tag color="#f50">{{unread_count}}</a-tag>
          </span>
        <rss-list></rss-list>
      </a-tab-pane>

      <a-tab-pane key="3">
          <span slot="tab">
            <i class="fa fa-shopping-cart"></i>&nbsp;店铺监控
          </span>
        <shop-list></shop-list>
      </a-tab-pane>

      <a-button type="primary" slot="tabBarExtraContent" @click="show_add_dialog">
        <i class="fa fa-plus"></i>&nbsp;添加监控/订阅
      </a-button>
    </a-tabs>
    <add-dialog v-bind:dialog_visible="dialog_visible" v-on:close-dialog="dialog_visible = false"></add-dialog>

  </a-col>

  <a-col :md="4"></a-col>
</a-row>

<a-back-top visibilityHeight="100px"/>
