<aside class="sidebar collapsed">
    <div class="drag-area"></div>
    <div>
        <button type="button" class="el-button sub-btn circle el-button--primary"><!----><!---->
            <span><i class="iconfont icon-add"></i></span>
        </button>
        <div class="el-dialog__wrapper feed-dialog" style="display: none;">
            <div class="el-dialog el-dialog--center" style="width: 600px; margin-top: 15vh;">
                <div class="el-dialog__header"><span class="el-dialog__title"></span>
                    <button type="button" aria-label="Close" class="el-dialog__headerbtn">
                        <i class="el-dialog__close el-icon el-icon-close"></i></button>
                </div><!----><!----></div>
        </div>
    </div>
    <div class="nav-list">
        <div class="nav-item active active" title="5677 篇未读文章"><i class="iconfont icon-eye"></i></div>
        <div class="nav-item" title="我的收藏"><i class="iconfont icon-heart"></i></div>
        <div class="nav-item" title="标签标记"><i class="iconfont icon-tag"></i></div>
        <div class="nav-item"><i class="iconfont icon-unorderedlist"></i></div>
    </div>
</aside>
