<aside v-show="!full_screen" class="sidebar collapsed">
    <div class="drag-area"></div>

    <div>
        <a-button type="button" class="el-button sub-btn circle el-button--primary" @click="show_add_dialog">
            <span><i class="iconfont icon-add"></i></span>
        </a-button>
    </div>

    <div class="nav-list">
        <div class="nav-item" :class="{active: true}" title="5677 篇未读文章">
          <i class="iconfont icon-eye"></i>
        </div>
      <div class="nav-item" title="猜你感兴趣" @click="recommend()">
        <i class="iconfont icon-rss"></i>
      </div>
        <div class="nav-item" title="我的收藏">
          <i class="iconfont icon-heart"></i>
        </div>
        <div class="nav-item" title="标签标记">
          <i class="iconfont icon-tag"></i>
        </div>
        <div class="nav-item" @click="toggle_cat_wrapper">
          <i class="iconfont icon-unorderedlist"></i>
        </div>
    </div>
</aside>
