
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3 !important;
}

#header {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;
}

#container {
    min-height: 70%;
}

#container #nav-tab {
    margin: 0 8px 8px 8px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

#footer {
    width: 100%;
}

#footer p {
    text-align: center;
    line-height: 8px;
    font-size: 8px;
    color: #9d9d9d;
}

#footer p a {
    text-align: center;
    line-height: 8px;
    font-size: 8px;
    color: #9d9d9d;
}

.rss-list {
    margin: 16px 8px;
    padding: 32px 20px 8px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0.1px 1px 10px #c0c0c0;
    /*border-style: solid;*/
    /*border-width: .5px;*/
    /*border-color: #c0c0c0;*/
}

.rss-list-title {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}

.rss-list-content {
    font-size: 15px;
    font-weight: 500;
    opacity: .8;
    line-height: 1.5;
    text-overflow: ellipsis;
}

.rss-list-footer {
    color: #acb1b6;
    font-size: 12px;
}