<div v-if="good">
    <div>
        <span>店铺名称:<a v-bind:href="good.shop_url" target="_blank">{{good.shop_name}}</a></span>
        <span>平台: {{good.platform}}</span>
        <span>商品数量:{{good.goods_num}}</span>
        <span>销售量:{{good.shop_sales_num}}</span>
        <span>物流评分:{{good.logistics_score}}</span>
        <span>描述评分:{{good.desc_score}}</span>
        <span>服务评分:{{good.service_score}}</span>
    </div>

    <div>
        <span>商品名称:{{good.name}}</span>
        <span>商品ID:{{good.spu_id}}</span>
        <span>商品销量: {{good.sales_num}}</span>

        <a-popover title="SKU">
            <template slot="content" v-for="sku in good.skus">
                <div>
                    <span>{{sku.spec}}</span>
                    <span>{{sku.normal_price}}</span>
                    <span>{{sku.group_price}}</span>
                </div>
            </template>
            <span>销售规格</span>

        </a-popover>
    </div>
</div>
