<form id="spy_shop_form">
  <div class="form-group">
    <label>URL</label>
    <input class="form-control" id="spy_shop_url" placeholder="url" v-model="new_form_data.url" required>
  </div>
  <div class="form-group">
    <label>Port</label>
    <input class="form-control" id="spy_shop_port" placeholder="port" v-model="new_form_data.port">
  </div>
  <div class="form-group">
    <label>Retry Limit</label>
    <input class="form-control" id="spy_shop_retry_limit" placeholder="retry limit" v-model="new_form_data.retry_limit">
  </div>
  <div class="form-group">
    <label>Proxy</label>
    <input class="form-control" id="spy_shop_proxy" placeholder="proxy" v-model="new_form_data.proxy">
  </div>
  <div class="form-group">
    <label>Cookies</label>
    <textarea class="form-control" id="spy_shop_cookies" placeholder="cookies" v-model="new_form_data.cookies"></textarea>
  </div>
  <div class="form-group">
    <label>Status</label>
    <a-switch v-model:default-checked="new_form_data.status"></a-switch>
  </div>
</form>