<div>

    <a-button @click="this.window.location.href = \'rss\' ">
        查看全部RSS
    </a-button>

    <a-button @click="mark_readed">
        一键标记为已读
    </a-button>

    <div v-for="rss in rss_list_json">
        <p v-if="is_last_read_position(rss).call()" id="last_read_position">上次读到这里</p>

        <div class="rss-list">

            <p class="rss-list-title" v-on:click="go_to_read(rss.link)">
                <a-tooltip placement="top">
                    <template slot="title">
                        点击访问源网页
                    </template>
                    {{rss.title}}
                </a-tooltip>
            </p>

            <p class="rss-list-content" v-html="rss.description.substring(0, 1000)">
            </p>

            <p class="rss-list-footer">
                <a-tooltip placement="top">
                    <template slot="title">
                        <p>{{rss.rss_description}}</p>
                        <small>点击访问RSS源</small>
                    </template>

                    <span v-on:click="go_to_read(rss.rss_link)">{{rss.rss}}</span>
                </a-tooltip>
                |
                <a-tooltip placement="top">
                    <template slot="title">
                        <span>作者</span>
                    </template>
                    {{rss.author}}
                </a-tooltip>
                |
                发布时间：{{rss.pub_date}}
            </p>
        </div>

    </div>

    <a-spin :spinning="spinning" tip="Loading...">
        <div class="spin-content">
            <a-button id="loadmore" type="primary" @click="loadmore">
                加载更多
            </a-button>
        </div>
    </a-spin>
</div>
